*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden;
}

.slider {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.4s ease 0s;
}

.slider__element {
    width: 367px;
    flex-shrink: 0;
    height: 300px; /* temporary */
    box-shadow: 0 2px 5px 0 rgb(15 0 58 / 7%);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.075);
    background-color: #f5fafe;
    display: flex; /* remove display flex */
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold; /* till here */
}

.slider__element:not(:last-child) {
    margin-right: 16px;
}

.slider__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.slider__control {
    height: 40px;
    width: 40px;
}

.slider__control:first-child {
    margin-right: 8px;
}

@media (max-width: 1140px) {
    .slider {
        max-width: 930px;
    }

    .slider__element {
        max-width: 297px;
    }
}

@media (max-width: 990px) {
    .slider {
        max-width: 690px;
    }

    .slider__element {
        max-width: 335px;
    }
}

@media (max-width: 768px) {
    .slider {
        max-width: 510px;
    }

    .slider__element {
        max-width: 508px;
        width: 100%;
    }
}

@media (max-width: 510px) {
    .slider__element {
        width: 100vw;
    }
}
